<% if (theme.cover.enable) { %>
<section class="cover tran_all_500_eio">
  <div class="cover-frame">
    <div class="bg-box">
      <img 
        class="bg-img" 
        data-sources="<%- list_files(theme.cover.dir, '/images/cover/') %>" 
        alt="" 
        onerror="resetBgImgSrc()"
      />
    </div>
    <div class="cover-inner text-center text-white tran_all_200_eio"
    >
      <div class="cover-inner-box">
        <h1><%= config.title %></h1>
        <div id="subtitle-box">
          <span id="subtitle"></span>
        </div>
        <div>
          <% if (theme.cover.logo) { %>
          <img
            src="<%- theme.cover.logo %>"
            class="cover-logo"
            alt="<%= config.title %>"
          />
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="cover-learn-more">
    <a href="javascript:void(0)" class="anchor"><i class="ri-arrow-down-line"></i></a>
  </div>
</section>
<% } else if (theme.brand.enable) { %>
<section class="brand">
  <div class="brand-frame">
    <div class="brand-inner">
      <h1><a href="<%- url_for() %>"><%= config.title %></a></h1>
      <div id="subtitle-box">
        <span id="subtitle"></span>
      </div>
    </div>
  </div>
</section>
<% } %>

<% if (theme.subtitle.enable){ %>
<script src="https://fastly.jsdelivr.net/npm/typed.js@2.0.11/lib/typed.min.js"></script>
<% } %>

<!-- Subtitle -->
<% if (theme.subtitle.enable){ %>
  <script>
    try {
      var typed = new Typed("#subtitle", {
        strings: '<%= theme.subtitle.sentences %>'.split('|'),
        startDelay: Number('<%= theme.subtitle.startDelay %>'),
        typeSpeed: Number('<%= theme.subtitle.typeSpeed %>'),
        loop: Boolean('<%= theme.subtitle.loop %>'),
        backSpeed: Number('<%= theme.subtitle.backSpeed %>'),
        showCursor: Boolean('<%= theme.subtitle.showCursor %>')
      });
    } catch (err) {
      console.log(err)
    }
  </script>
<% } else { %>
  <script>
    $("#subtitle").append("<%= theme.subtitle.sentences %>".split('|').shift())
  </script>
<% } %>

<script>
  // 背景
  function resetBgImgSrc() {
    localStorage.removeItem("bg_img_src");
    loadBgImgSrc();
  }
  function loadBgImgSrc() {
    var src = localStorage.getItem("bg_img_src");
    if( src ) $(".bg-img").attr("src", src);
    else $(".bg-img").attr("src", $(".bg-img").data("sources").split(',')[0]);
  }
  loadBgImgSrc();
</script>

<script>
  let scrollEvents = "DOMMouseScroll mousewheel wheel touchmove"
  scrollEvents = scrollEvents.trim().split(' ');
  let fPreventDefault = function(e) {
    e.cancelable && e.preventDefault && e.preventDefault();
  };
  let allowScroll = function(allow) {
    if ( allow == 0 ) {
      scrollEvents.forEach(function(evn) {
        document.addEventListener(evn, fPreventDefault, { passive: false })
      });
    } else if ( allow == 1 ) {
      scrollEvents.forEach(function(evn) {
        document.removeEventListener(evn, fPreventDefault, { passive: false })
      });
    } 
  }

  // 标题背景图片缩放
  let $content = $(window), 
      $cover = $(".cover"), 
      $coverInner = $(".cover-inner");
  $cover.on("click", () => {
    $cover.addClass("cover__fullscreen");
    $coverInner.fadeOut(200);
    $content.one("scroll", () => {
      allowScroll(0)
      $cover.removeClass("cover__fullscreen");
      $coverInner.fadeIn(200);
      setTimeout(() => allowScroll(1), 500);
    })
  })
</script>

<style>
  .cover__fullscreen {
    width: 100%;
    height: 100vh;
    margin-top: 0;
    margin-left: 0;
    pointer-events: none;
  }
</style>