<!DOCTYPE html>

<% if (config.language){ %>
<html lang="<%= config.language %>">
  <% } else { %>
  <html lang="en">
    <% }%>

    <head>
      <meta charset="utf-8" />
      <% var title = page.title; if (is_archive()) { title = __('archive_a'); if
      (is_month()) { title += ': ' + page.year + '/' + page.month; } else if
      (is_year()) { title += ': ' + page.year; } } else if (is_category()) {
      title = page.category; } else if (is_tag()) { title = __('tag') + ': ' +
      page.tag; } %> <% if (page.keywords){ %>
      <meta
        name="keywords"
        content="<%= page.keywords %>,<%= config.keywords %>"
      />
      <% } else if (config.keywords){ %>
      <meta name="keywords" content="<%= config.keywords %>" />
      <% } %> <% if (page.description){ %>
      <meta name="description" content="<%= page.description %>" />
      <% } else if (config.description){ %>
      <meta name="description" content="<%= config.description %>" />
      <% } %>
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1"
      />
      <title><% if (title){ %><%= title %> | <% } %> <%= config.title %></title>
      <% if (theme.favicon){ %>
      <link rel="shortcut icon" href="<%- theme.favicon %>" />
      <% } %> 
      <link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/remixicon@2.1.0/fonts/remixicon.min.css" />
      <link
        rel="stylesheet"
        href="https://fastly.jsdelivr.net/npm/@sweetalert2/theme-bulma@5.0.1/bulma.min.css"
      />
      <%- web_src('rollup/main', 'css') %>
      <%- web_src('css/custom', 'css') %>
      <%- web_src('/js/jquery-3.6.0.min.js', 'js') %> 
      <% if (theme.progressBar){ %>
      <script src="https://fastly.jsdelivr.net/npm/pace-js@1.0.2/pace.min.js"></script>
      <% } %> <%- partial('google-analytics') %> <%- partial('baidu-analytics')
      %>
      <script src="https://fastly.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>
      <% if (theme.smoothscroll.enable){ %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js"></script>
        <script> SmoothScroll(JSON.parse('<%- object_tools("stringify", theme.smoothscroll.config) %>')); </script>
      <% } %> 
      
      <!-- mermaid -->
      <% if (theme.mermaid.enable) { %>
      <script src="<%= theme.mermaid.cdn %>"></script>
      <% } %>
      <style>
        .swal2-styled.swal2-confirm {
          font-size: 1.6rem;
        }
      </style>
    </head>
  </html>
</html>
